@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@300;400;500;600;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Fira Code';
    
    
}
html{
    scroll-behavior: smooth;
}
::-webkit-scrollbar-track {
    background-color: #f4f4f4;
}
::-webkit-scrollbar {
    width: 10px;
    background: #56f0b0;
}
::-webkit-scrollbar-thumb {
    background: #6ece5875;
}


:root{
    --cor-fundo : #0c0e14;
    --cor-lateral: #17191e;
    --cor-titulos: #a9ff95;
    --cor-icons: #a9ff95;
    --cor-cards:#

}
h1,h3,p,header{
    overflow: hidden;
}
body{
    background-color: var(--cor-fundo);
    overflow-x: hidden;
    header{
       
        width: 100%;
        height: 50px;
        background-color: rgb(4, 1, 5);
        margin-bottom: 15px;
        z-index: 999;
        display: flex;
        justify-content: space-between;

        .player{
            line-height: 50px;
            display: none;
           
            img{
                width: 28px;
                &:hover{
                    width: 20px;
                    cursor: pointer;
                }
                
            }
        }
        p{
            color: white;
            line-height: 50px;
            padding-left: 5px;
        }
        i{
            color: var(--cor-icons);
            font-size: 25px;
            transition: 0.5s;
            padding: 5px;
            cursor: pointer;
            &.circle{
                font-size: 15px;
                line-height: 40px;
                animation: pulsarCor 3s infinite;
            }
           
        }
    }
    .area-total{
        display: flex;
        
        .lside{
            z-index: 997;
            display: flex;
            flex-direction: column;
            position: fixed;
            margin-left: 25px;
            overflow: hidden;
            transition: 0.7s;
            transform: translateY(0);
            
            .about{
                margin-bottom: 15px;
                overflow: hidden;
                max-width: 680px;
                .card{
                    background-color:#0c0911 ;
                    padding: 10px;
                    .card-body{
                        .card-title{
                            color: var(--cor-titulos);
                            opacity: 0;
                            animation: showText 0.5s linear forwards;
                        }
                        .card-text{
                            color: white;
                            opacity: 0;
                            animation: showText2 0.5s 0.6s linear forwards;

                            span{
                                color: var(--cor-icons);
                            }

                        }
                    }
                }
            }
            .menu-icon{
               
                text-align: center;
                .menu{
                    background-color: #0c0911;
                    border-radius: 50px;
                    max-width: 300px;
                    h3{
                        color: white;
                    }
                    ul{
                        li{
                            list-style: none;
                            a{
                                color: white;
                                text-decoration: none;
                                span{
                                    color: var(--cor-icons);
                                }
                                &:hover{
                                    color: var(--cor-icons);
                                    font-size: 15px;
                                }
                            }
                        }
                    }
                }
                .icon{
                    justify-self: center;
                    align-self: center;
                    margin-top: 15px;

                     
                    i{
                        font-size: 35px;
                        color: var(--cor-icons);
                      
                        padding: 5px;
                       
                        &:hover{
                            text-shadow: 0px 0px 7px #147e52;
                            font-size: 33px;
                        }
                       
                    }
                }
            }
            .player{
               
                align-self: center;
              margin-top: 20px;
              .play{
                display: inline;
                
            }
            .pause{
                display: none;
            }
            .desmutar{
                display: none;
            }
            
                img{
                    &.volume{
                        &:hover{
                        
                            width: 28px;
                            cursor: pointer;
                        }
                    }
                    &:hover{
                        
                        width: 43px;
                        cursor: pointer;
                    }
                }
                
            }
            
        }
        .rside{
            margin-left: 46%;
            padding: 28px;
            transition: 0.2s;
            h1{
                color: var(--cor-titulos);
            }
            p{
                color: white;
            }
            .skills{
                display: flex;
                flex-direction: column;
                justify-content: center;
                text-align: start;
                
                .area1{
                    display: flex;
                    flex-direction: column;
                    
                    padding:25px 30px;
                    background-color: var(--cor-lateral);
                   border-radius: 5px;
                    margin-bottom: 15px;
                    

                    input{
                        display: none;
                        &#check-html:checked + .html-area{
                            
                            & p{
                                display: flex;
                                
                            }
                            & i{
                                transform: rotate(180deg);
                                animation: none;
                            }
                        }
                        &#check-css:checked + .css-area{
                            & p{
                                display: flex;
                            }
                            & i{
                                transform: rotate(180deg);
                                animation: none;
                            }
                        }
                        &#check-bts:checked + .bts-area{
                            & p{
                                display: flex;
                            }
                            & i{
                                transform: rotate(180deg);
                                animation: none;
                            }
                        }
                        &#check-js:checked + .js-area{
                            & p{
                                display: block;
                            }
                            & i{
                                transform: rotate(180deg);
                                animation: none;
                            }
                        }
                    }
                    
                    
                    .bar{
                        margin-right: 20px 0;
                        overflow: hidden;
                        
                        p{
                            display: none;
                            padding-top: 8px;
                            padding-bottom: 5px;
                            
                        }
                        &:first-child{
                            margin-top: 0;
                        }

                        .info{
                            margin-bottom: 10px;
                            margin-top: 10px;
                            
                            label{
                                display: flex;
                                justify-content: space-between;
                                cursor: pointer;
                            }
                            i{
                                color: var(--cor-icons);
                                transition: transform .3s ease;
                                animation: pulsarCor 1s infinite;
                                
                            }
                            span{
                                font-size: 17px;
                                font-weight: 500;
                                color: white;
                                opacity: 0;
                                    animation: showText2 0.5s 1s linear forwards;

                            }
                        }
                        .progress-line{
                            height: 10px;
                            width: 100%;
                            background-color: white;
                            
                            box-shadow: inset 0px 1px 1px rgba(0,0,0,0.05),
                            0px 1px rgba(9, 216, 199, 0.8);
                            position: relative;
                            border-radius: 10px;
                            transform-origin: left;
                            transform: scaleX(0);
                            animation: animate 1s cubic-bezier(1,0,0.5,1) forwards;
                            
                            &.html{
                                span{
                                     
                                         width: 100%;
                                     
                                }
                             }
                             &.scss{
                                 span{
                                    
                                         width: 100%;
                                     
                                }
                             }
                             &.bootstrap{
                                 span{
                                     
                                         width: 100%;
                                     
                                }
                             }
                             &.js{
                                 span{
                                     
                                         width: 100%;
                                     
                                }
                             }
                            span{
                                height: 100%;
                                
                                background-color: var(--cor-icons);
                                position: absolute;
                                border-radius: 10px;
                                transform-origin: left;
                                transform: scaleX(0);
                                animation: animate 1s 1s cubic-bezier(1,0,0.5,1) forwards;
                                

                                
                                &::after{
                                    position: absolute;
                                    
                                    background-color: var(--cor-fundo);
                                    color: white;
                                    font-size: 12px;
                                    font-weight: 500;
                                    padding: 1px 8px;
                                    border-radius: 3px;
                                    right: 0;
                                    margin-top: -28px;
                                    opacity: 0;
                                    animation: showText2 0.5s 1.5s linear forwards;
                                }
                            }
                            
                            
                             
                        }
                    }

                    h2{
                        color:#21c581 ;
                    }
                    h4{
                        color: #01b991;
                    }
                    a{
                        &.baixar{
                            background-color: #13aa6b;
                            color: white;
                        }
                        &.projetos{
                            background-color: #13aa89;
                            color: white;
                        }
                    }
                    
                    
                }
            }
            .projetos{
                display: flex;
                flex-direction: column;
                justify-content: center;
                text-align: start;
                p{
                    &.ver{
                        color: var(--cor-icons);
                        cursor: pointer;
                    }
                }
                .projeto-box{
                   
                    background-color: var(--cor-lateral);
                   
                    margin-bottom: 15px;
                    transition: 0.6s;
                    

                    &:hover{
                        cursor: pointer;
                       
                        box-shadow: 0px 3px 8px -5px var(--cor-icons);
                    }
                    .nome-projeto{
                        border-left: 3px solid var(--cor-icons);
                    }
                    .links-projeto{
                       i{
                           color: var(--cor-icons);
                       }
                        a{
                           color: white;

                           &:hover{
                               color: var(--cor-icons);
                           }
                       }
                    }
                }
            }
            .contato{
                .row{
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    .box-contato{
                        
                        height: 60px;
                        background-color: var(--cor-lateral);
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        border-radius: 25px;
                        a{
                            color: var(--cor-icons);
                            i{
                                font-size: 35px;
                            }
                            &:hover{
                                i{
                                    font-size: 30px;
                                }
                            }
                        }
                    }
                }
            }
            footer{
                width: 100%;
                height: 60px;
                background-color: var(--cor-lateral);
                border-radius: 15px;
                display: flex;
                justify-content: center;
                align-items: center;
                p{
                    color: white;
                    
                    span{
                        color: var(--cor-titulos);
                    }
                }
            }
        }

    }
}

@media (max-width:767px){
    
    body .area-total .rside .inicio .area1 {
        display: block;
        
    }
    body .area-total .lside {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        position: relative;
        margin-left: 0;
    }
    body .area-total .rside {
        margin-left: 0%;
        margin-top: 50px;
    }
    body .area-total .lside .menu-icon .menu {
        max-width: 999px;
    }
    body .area-total .lside .player {
        display: block;
    }
    body header i.circle {
        display: flex;
    }
    
    body .area-total .rside{
        transition: 0.6s;
    }
    body .area-total .lside {
        
        transition: 0.2s;
        position: relative;
        margin-left: 56px;
    } 
    body header .player {
        display: block;
    }
}

@media(max-width:991px ) and (min-width:768px){
    body .area-total .lside .menu-icon .icon {
        right: 106px;
    }
    body .area-total .lside .player {
        position: relative;
        right: 92px;
    }
}

@keyframes animate{
    100%{
        transform: scaleX(1);
    }
}
@keyframes showText{
    100%{
        opacity: 1;
    }
}
@keyframes showText2{
    100%{
        opacity: 1;
    }
}

@keyframes aumentaraltura{
    100%{
        height: 200px;
    }
}

@keyframes pulsarCor{
    0%{
        color: var(--cor-icons);
    }
    100%{
        color:#4e9e59 ;
    }
}

